<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The tool</title>
</head>
<body>
    <h1>Homepage</h1>
    <h2>Achievements</h2>
    <select name="achievemets">
        {%for achievement in achievement_list %}
            <option value="{{ achievement.achievement_name }}">{{achievement.achievement_name}}</option>
        {% endfor %}
    </select>
    <ul>
        {% for achievement in achievement_list %}
            <li>{{achievement.achievement_name}}</li>
        {% endfor %}
    </ul>
</body>
</html>