{% extends 'achievements/base.html' %}

{% block content %}
<h1>Homepage</h1>
<h2>Achievements for {{user.username}}</h2>
{% if not achievement_list.empty %}
    <h2>No achievement uploaded</h2>

{% else %}
    <h2>size: {{achievement_list_size}}</h2>
    <select name="achievemets">
        {%for achievement in achievement_list %}
            <option value="{{ achievement.achievement_name }}">{{achievement.achievement_name}}</option>
        {% endfor %}
    </select>
{% endif %}

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>


{% endblock %}